.cardList-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardList-overlay .cardList-content {
  background-color: lightgrey;
  padding: 20px;
}

.cardList-overlay .suit-col {
  display: flex;
  flex-direction: row;
}

.cardList-overlay button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.cardList-overlay img {

  width: 60px;
  margin: 3px;
  padding: 0;
}