.landing-container {
    margin: 0;
    height: calc(101vh - 20vh);
    width: 100%;
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main img {
    width: 150px;
    margin: 20px;
}
